.faq {
    &__title {
        display: inline-block;
        margin-bottom: 10px;
        font-size: 28px;
        color: #333;
        font-weight: bold;
        letter-spacing: .03em;
        background: linear-gradient(transparent 70%, #3846da63 70%);
    }
    &__text {
        max-width: 500px;
        margin-bottom: 30px;
        color: #333;
        font-size: 12px;
    }
}